body { 
    display: flex;
    margin: auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.mainContainer {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: 90%;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 2rem;
    font-weight: 100;
}

.statsContainer {
    margin: 0 0 20px 0;
}

.searchContainer {
    padding: 10px 0 0 0;
    display:flex;
}

.searchInput {
    position: relative;
    display: flex;
    min-width: 450px;
}

.myLocationIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 14px;
    cursor: pointer;
    animation-name: pulse; 
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.inputContainer {
    width: 90%;
    margin: auto 0 0 0;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 3px 23px 2px 24px;
    outline: 0;
}

button {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 6px 13px 6px 13px;
    margin: 0 0 0 10px;
    outline: 0;
}

ul, li {
    list-style-type: none;
    padding: 10px 0 0 0;
}

.inlineList {
    display:inline;
}

#map { 
    height: 100%;
}

.issIcon {
    animation-name: pulse; 
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
    background-image:url('./satellite_bw.png');
    width: 50px;
    height: 49px;
} 

@keyframes pulse { 
    0% { 
        opacity: 0;
    } 50% 
    { 
        opacity: 1;
    } 100% 
    { 
        opacity: 0;
    } 
}